name: release
on:
  push:
    tags:
      - "v*"
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      publish:
        default: false
        type: boolean

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    env:
      RELEASE_TAG: ${{ inputs.ref || github.ref }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Check version
        run: |
          grep "${RELEASE_TAG#v}" version/version.go          
      - uses: cli/gh-extension-precompile@9e2237c30f869ad3bcaed6a4be2cd43564dd421b # v2.1.0
        with:
          generate_attestations: true
          go_version_file: go.mod
          release_tag: ${{ env.RELEASE_TAG }}
      - name: Publish
        if: inputs.publish
        run: gh release edit --draft=false "${RELEASE_TAG}"

